includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - src
        - public
        - tests
        - tools
    treatPhpDocTypesAsCertain: false
    scanFiles:
        - backend/core/Session.php
    reportUnmatchedIgnoredErrors: false
    tmpDir: .phpstan.cache
    ignoreErrors:
        - identifier: missingType.iterableValue
